<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>27346647022-n6vt95bbd5h0tii3bu7cn28pvjdmvgb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27346647022-n6vt95bbd5h0tii3bu7cn28pvjdmvgb8</string>
	<key>API_KEY</key>
	<string>AIzaSyAmAAsda3bLrXIG8LqCuCWCdXogbbkgTxc</string>
	<key>GCM_SENDER_ID</key>
	<string>27346647022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pencil.ALWekala</string>
	<key>PROJECT_ID</key>
	<string>alwekala-26360</string>
	<key>STORAGE_BUCKET</key>
	<string>alwekala-26360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27346647022:ios:f45d1a9e42501097</string>
	<key>DATABASE_URL</key>
	<string>https://alwekala-26360.firebaseio.com</string>
</dict>
</plist>